@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css");

:root{
    --main-color: #F4585C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
}

nav{
    height: 85px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    box-shadow: 3px 3px 3px silver;
}

nav h2{
    margin-left: 10px;
    color: var(--main-color);
}

.hero{
    min-height: 80vh;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.hero img{
    align-self: center;
}
.hero .hero_content{
    padding: 40px;
    width: 60%;
    font-size: 200%;
}

.card-holder{
    margin: 15px auto;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
}

.card-holder a{
    text-decoration: none;
    color: #000;
}

.card{
    width: 30%;
    font-size: 140%;
    position: relative;
}
.card-img{
    background-color: yellow;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-holder .fa{
    color: var(--main-color);
}
.featured_button{
    position: absolute;
    left: 10px;
    top: 10px;
    background: #fefefe;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 14px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid var(--main-color);
}
.card-holder span{
    color: #bbb;
}
.img-1{
    background-image: url("../public/Imgs/building.jpg");
}
.img-2{
    background-image: url("../public/Imgs/tools.jpg");
}
.img-3{
    background-image: url("../public/Imgs/drugs.jpg");
}

@media screen and (max-width: 500px){
    .hero img{
        align-self: auto;
        width: 90%;
    }
    .hero{
        min-height: auto;
    }
    .hero .hero_content{
        width: 100%;
        font-size: 150%;
    }
    .card-holder{
        display: block;
    }
    .card{
        width: 100%;
        margin-bottom: 40px;
    }
}