*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: Poppins;
}

h1, h2, h3, h4, h5, h6{
    font-family: Raleway;
}
header{
    height: 60px;
    background-color: #F55A5A;
    text-align: center;
    color: white;
    padding: 25px;
}

section{
    width: 80%;
    margin: auto;
    min-height: 500px;
    padding: 50px 0;
}
.journey{
    display: flex;
    justify-content: space-between;
}
.img{
    width:30%;
    min-height: 400px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}
.beijing{
    background-image: url('../public/Imgs/beijing.jpeg');
}
.content{
    width: 60%;
    background-color: #bbbbbb;
    min-height: 250px;
}