*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #F55A5A;
}
body{
    background-color: #eee;
    font-family: Poppins;
}

h1, h2, h3, h4, h5, h6{
    font-family: Raleway;
}
header{
    height: 60px;
    background-color: var(--main-color);
    text-align: center;
    color: white;
    padding: 25px;
}

section{
    width: 80%;
    margin: auto;
    min-height: 500px;
    padding: 50px 0;
}
.journey{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #bbbbbb;
}
.img{
    width:30%;
    min-height: 400px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.content{
    width: 60%;
    min-height: 250px;
    display: flex;
    align-items: center;
}
.content .fa{
    color: var(--main-color);
}
.content h3{
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10px 0;
}
.content h1{
    font-size: 3em;
    margin: 5px 0 20px;
}
.content h4{
    /*font-weight: bold;*/

}
.content p{
    margin: 7px 0;
}
/*IMAGES*/
.beijing{
    background-image: url('../public/Imgs/beijing.jpeg');
}
.tokyo{
    background-image: url('../public/Imgs/tokyo.jpeg');
}
.warsaw{
    background-image: url('../public/Imgs/warsaw.jpeg');
}
.london{
    background-image: url('../public/Imgs/london.jpeg');
}

@media screen and (max-width: 600px) {
    .journey{
        display: block;
    }
    .img, .content{
        width: 100%;
    }
    article{
        margin-top: 50px;
    }
}